### Visual Studio ###
.vs/
[Dd]ebug/
[Rr]elease/
x64/
x86/
*.suo
*.user
*.userosscache
*.sln.docstates
 
### .NET Core / .NET Standard / .NET Framework ###
bin/
obj/
 
### User-specific files ###
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates